@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  --main-font: "Montserrat", sans-serif;
}

*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-family: var(--main-font);
  font-size: 62.5%;
}

body {
  min-height: 100vh;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}
